body{
	font-family: 微軟正黑體;
	background-color: #F4F4F4;
	color:white;
}
header{
	position: fixed;
	top:-440px;
	min-height: 50px;
	height:500px;
	padding:5px;
	width:100vw;
	background-color: rgba(0,0,0,0.9);
	background-image: url("../image/niconico.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
	background-size:30%;
	font-weight: bold;
	z-index:9999;
}
#fromDiv{
	font-size: 20px;
}
#menu li{
	list-style-type:circle;
	margin-left:50px;
	font-size: 35px;
	text-shadow:1px 1px 0 black;
	cursor:pointer;
}
#menu li:hover{
	list-style-type:disc;
	color:#F00;
	font-size: 40px;
}
#menuIcon{
	position: absolute;
	font-size: 30px;
	left:10px;
	top:91%;
	cursor:pointer;
}
#menuIcon:hover{
	color:#F00;
}
#pageName{
	font-size: 30px;
	position: absolute;
	top:90%;
	left:60px;
}
.hide{
	display:none;
}
#main{
	min-height: 100vh;
	background-image: url("../image/akarinG.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	background-size:20%;	
	padding-top:100px;
}
.nicoBox{
	min-height:200px;
	text-align: center;
	margin-bottom:10px;
	padding:10px;
	background-color: rgba(48,48,48,0.9);
	border-radius: 5px;
}
.nicoBox h1{
	border-radius: 0;
	font-weight: bold;
	text-shadow:1px 1px 0 black;
	font-size: 25px;
	cursor:pointer;
	margin:0;
}
.nicoBox img{
	width:65%;
	height:auto;
	cursor:pointer;
}
p.nico-info, .nico-info-date, .nico-info-total-view{
	font-size: 18px;
	text-shadow:1px 1px 0 black;
}
p.title{
	text-align: justify;
	font-weight: bold;
	font-size: 20px;
	text-shadow:1px 1px 0 black;
}
iframe{
	border:1px solid black;
	box-shadow:1px 1px 0 black;
}
#jumpMsg{
	position: fixed;
	top:200px;
	left:100px;
	background:black;
	border-radius: 5px;
	padding:5px;
	z-index: 999;
	display: none;
}
#jumpMsg .arrow_t_int{
	border-width:10px;
	border-style:solid;
	border-color:transparent transparent black transparent ;
	position:absolute;
	top:-20px;
	left:10px;
}
#jumpMsg span{
	font-size:16px;
	text-align: left;
}
@media (max-width: 768px){
	#pageName{
		font-size: 16px;
	}
	#menu li{
		font-size: 15px;
	}
	#menu li:hover{
		font-size: 20px;
	}
	#fromDiv{
		font-size: 12px;
	}
}